.login-form {
    margin-bottom: 28rem;
    width: 100%;
    input {
        width: 100%;
        border: 0;
        outline: 0;
        border-radius: 8rem;
        font-weight: 400;
        font-size: 14rem;
        line-height: 143%;
        letter-spacing: 0.01em;
        color: var(--text-main); 
        &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14rem;
            line-height: 143%;
            letter-spacing: 0.01em;
            color: var(--text-third);
        }
    }

    .email-label, .password-label {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 12rem;
        line-height: 133%;
        color: var(--text-second);
        margin-bottom: 4rem;
    }

    &__email, &__pass {
        border: 1px solid #c7c8d2;
        border-radius: 8rem;
        font-weight: 600;
        font-size: 12rem;
        line-height: 133%;
        color: var(--text-second);
        padding: 12rem;
    }
    
    &__email {
        margin-bottom: 20rem;
    }

    &__pass {
        display: flex;
        align-items: center;
        margin-bottom: 28rem;
    }

    .loginCheckbox {
        margin-top: 8rem;
        margin-bottom: 40rem;
    }

    &__btn {
        padding: 12rem 16rem;
        border-radius: 8rem;
        width: 100%;
        background: var(--blue);
        box-shadow: 0 8rem 20rem 0 rgba(78, 96, 255, 0.16);
        font-weight: 700;
        font-size: 14rem;
        line-height: 143%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
    }
}