.login-container {
    display: flex;
    justify-content: space-between;

    .login {
        max-width: 640rem;
        padding: 20rem 125rem 40rem 165rem;
        &__title {
            margin-top: 128rem;
            margin-bottom: 16rem;
        }
        &__desc {
            margin-bottom: 32rem;
        }
        &__forgot-password {
            margin-bottom: 106rem;
        }
        
        &__sign-up {}
    }
}