.settings-container {
    width: 1100rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30rem;
    padding: 24rem 0;
    @include tablet-small {
        flex-direction: column;  
    }

    .settings-box {
        display: flex;
        flex-direction: column;
        flex: 0 0 32%;
        @include tablet-small {
            flex: 100%;
            padding: 0 20rem;
        }
        @include mobile {
            padding: 0;
        }
    }

    .settings-title {
        font-weight: 600;
        font-size: 20rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--text-main);
        margin-bottom: 16rem;
    }

    .settings-list {
        display: flex;
        flex-direction: column;
        gap: 12rem;

        @include tablet-small {
            // gap: 16rem;
            // flex: 100%;
            // width: 100%;
        }

        .settings-item {
            display: flex;
            align-items: center;
            gap: 12rem;
            padding: 16rem;
            max-width: 100%;
            border-radius: 16rem;
            border: 1px solid var(--light-grey);
            background: var(--white);
            cursor: pointer;
            transition: var(--transition);
            &:hover {
                outline: 1px solid #697bff;
                background: #f8f9ff;                
            }
            &.is-active-tab {
                outline: 2px solid var(--blue);
                background: var(--light-blue);
                .settings-item__ico {
                    background: var(--blue);
                    svg path {
                        stroke: var(--white);
                    }
                }
            }
            
            &__ico {
                border-radius: 12rem;
                width: 40rem;
                height: 40rem;
                background: var(--light-grey);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__info {
                
            }

            &__title {
                font-weight: 700;
                font-size: 14rem;
                line-height: 143%;
                letter-spacing: 0.01em;
                color: var(--text-main);
                margin-bottom: 2rem;
            }

            &__desc {
                font-weight: 400;
                font-size: 13rem;
                line-height: 138%;
                letter-spacing: 0.02em;
                color: var(--text-second);
            }

        }
    }

    .settings-detail-box {
        flex: 0 0 65%;
        @include tablet-small {
            flex: 100%;
            padding: 0 20rem;
        }
        @include mobile {
            padding: 0;
        }
    }

    .settings-detail-title {
        font-weight: 600;
        font-size: 20rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        color: var(--text-main);
        margin-bottom: 16rem;
    }
    .settings-detail {
        border: 1px solid var(--light-grey);
        border-radius: 16px;
        padding: 24rem 0 20rem;
    }
}