.header {
    border-bottom: 1rem solid var(--light-grey);
    margin-inline: auto;

    .header-container {
        padding: 16rem 15rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
     	max-width: 1140rem;
        margin-inline: auto;
    }

    &__left-part {
        display: flex;
        align-items: center;
        gap: 48rem;
    }

    &__search.header__search-container {
        @include mobile {
            display: none;
        }
    }

    &__right-part {
        display: flex;
        align-items: center;
    }

    &__ul {
        display: flex;
        align-items: center;
        gap: 28rem;
        margin-right: 24rem;
        padding: 6rem 0;
        position: relative;
        @include tablet-small {
            display: none;
        }
        &::before {
            content: "";
            display: block;
            height: 34rem;
            width: 1rem;
            background: var(--light-grey);
            position: absolute;
            right: 86rem;
            top: 0;
        }
    }

    &__li:last-child {
            margin-left: 12rem;
        }

    &__a {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.01em;
        text-align: right;
        color: var(--text-main);
    }

    &__cart {
        position: relative;
        display: flex;
        background: var(--light-blue);
        padding: 14rem;
        border-radius: 16rem;
        margin-right: 17rem;
        cursor: pointer;
        transition: var(--transition);
        &:hover {
            transform: scale(1.07);
        }
    }

    &__cart-count {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: var(--blue);
        border-radius: 8rem;
        padding: 4rem 7rem;
        font-weight: 700;
        font-size: 10rem;
        color: var(--white);
        top: -5rem;
        right: -4rem;
    }

    &__avatar {
        border-radius: 16rem;
        width: 50rem;
        height: 50rem;
        border: 2px solid var(--light-grey);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition);
        @include tablet-small {
            margin-right: 20rem;
        }
        &:hover {
            transform: scale(1.07);
        }
        img {
            border-radius: 14rem;
            width: 46rem;
            height: 46rem;
        }
    }
}

