#root {
	height: 100%;
}

html {
	font-size: 1px;
}

html, body {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
	background: var(--white);
	color: var(--black);
}

.container {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100%;
}

// .page-wrapper {
// 	max-width: 1110rem;
// 	margin-inline: auto;
// }

.btn {
    cursor: pointer;
    border: none;
	outline: none;
	display: inline-block;
}

.not-found {
	text-align: center;

}

.icon-heart {
	svg {
		width: 24rem;
		height: 24rem;
	}
}