#root {
	height: 100%;
}

html {
	font-size: 1px;
}

html, body {
	height: 100%;
}

body {
	font-size: 16rem;
	font-family: var(--font-family);
	background: var(--white);
	color: var(--black);
}

.container {
	display: block;
	max-width: 1440rem;
	margin-inline: auto;
	height: 100%;
}

.page-wrapper {
	display: flex;
	justify-content: center;
	height: 100%;
	padding: 0 15rem;
}

.btn {
    cursor: pointer;
    border: none;
	outline: none;
	display: inline-block;
}

.not-found {
	text-align: center;

}

.error {
	font-weight: 600;
	font-size: 14rem;
	line-height: 143%;
	letter-spacing: 0.02em;
	color: var(--dark-orange);	
}
