//breakpoints
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

:root {
	--font-family: "Nunito", sans-serif;
	--second-family: "Roboto", sans-serif;

	--transition: all .2s ease-in-out;

	--orange: #fd6d22;
	--dark-orange: #ff5c60;
	--light-orange: #fff3ed;
	--blue: #4E60FF;
	--light-blue: #f3f4ff;
	--white: #fff;
	--black: #000;
	--light-grey: #edeef2;
	
	--text-main: #2b2b43;
	--text-second: #545563;
	--text-third: #83859c;
}